<p>1番飲んでみたいと思う秋の新作を選択して、投票ボタンを押してください！</p>
<form action="cast" method="post">
  <div class="mb-3">
    <% Choices.each do |record| %>
      <div class="form-check">
        <input type="radio" name="vote" value="<%= record.id %>" class="form-check-input" id="vote_<%= record.id %>" required />
        <label class="form-check-label" for="vote_<%= record.id %>">
          <span style="display:inline-block; width: 300px;"><%= record.beverage_name %></span>
          <span style="display:inline-block; width: 120px;"><%= record.shop_name %></span>
          <span style="display:inline-block; width: 120px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
            <a href="<%= record.url %>" target="_blank">公式サイト</a>
          </span>
        </label>
      </div>
    <% end %>
  </div>
  <button type="submit" class="btn btn-primary">投票する！</button>
</form>